* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background-image: url(img/sekil1.jpg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 50px;
}

.text {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text h1 {
    color: #f1ae0e;
    font-family: Montserrat, sans-serif;
    font-size: 80px;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1.5;
    word-spacing: 5px;
}

.button {
    padding: 15px;
    width: 180px;
    border-radius: 40px;
    background-color: #f1ae0e;
    color: white;
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #ad7b07;
}

.section2 {
    background-color: #1a1a1a;
}

.box {
    height: 420px;
    width: 330px;
    padding: 30px;
    color: white;
    background-image: url(img/sekil2.jpg);
    background-size: cover;
}

.box h5 {
    font-size: 25px;
}

.iconBox {
    height: 100px;
    width: 100px;
    background-color: #f1ae0e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}

.iconBox svg {
    height: 50px;
    width: 50px;
}

.box ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.iconBox2 {
    background-color: #1a1a1a;
}

.iconBox2 svg {
    color: #f1ae0e;
}

.box2 {
    height: 420px;
    width: 330px;
    padding: 30px;
    color: white;
    background-color: #f1ae0e;
}

.box2 ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.box2 h5 {
    font-size: 25px;
}

.containerBox {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.text {
    color: white;
    width: 700px;
    padding: 30px;
    font-family: Montserrat, sans-serif
}

.text h2 {
    font-size: 40px;
}

.section3{
    background-color:#f1ae0e;
}
.textBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 50px;

}
.textBox h2{
    width: 500px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
}

.button2{
    background-color: #1a1a1a;
    border: none;
    width: 250px;
    padding: 20px;
    color: white;
    border-radius: 40px;
    font-size: 20px;
    
}
.button2:hover{
    color: #f1ae0e;
}
.section4{
    background-color: #1a1a1a;
}

.icons{
    height: 100px;
    width: 100px;
    background-color: #f1ae0e;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size{
    font-size: 40px;
    color: white;
   
}
.boxContainer h4{

    font-size: 25px;
    font-family: Montserrat, sans-serif;

}

.boxContainer{
    color: white;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boxContainer p{
    line-height: 1.5;
}
.container{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    
}
.container2{
     display: flex;
    justify-content: space-around;
    padding: 30px;
    
}
@media(max-width:1000px){
    .boxContainer{
    padding: 20px;
    width: 200px;
}
    .container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.container2{
     display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: start;
}
}
@media(max-width:930px){
    .textBox{
        flex-direction: column;
        align-items: center;
    }
    .textBox h2{
    width:250px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
}
}
@media(max-width:1030px) {
    .containerBox {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .box {
        height: 380px;
        width: 330px;
        padding: 20px;
        color: white;
        background-image: url(img/sekil2.jpg);
        background-size: cover;
    }

    .box2 {
        height: 380px;
        width: 330px;
        padding: 20px;
        color: white;
        background-color: #f1ae0e;
    }

    .text {
        color: white;
        width: 400px;
        padding: 10px;
        font-family: Montserrat, sans-serif;

    }

    .text h2 {
        font-size: 30px;
    }

    .box ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .box2 ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}